<launch>
    <param name="img_proc_bgr_topic" type="string" value="camera/image_raw/image_rect_color" />
    <param name="img_proc_depth_topic" type="string" value="camera/aligned_depth_to_color/image_raw/image_rect_color" />
    <param name="processed_image_topic" type="string" value="bar-bot/processed" />
    <param name="cup_detection_topic" type="string" value="bar-bot/cup_detections" />
    <param name="target_joint_state_topic" type="string" value="bar-bot/target_joint_state" />
    <param name="target_gripper_state_topic" type="string" value="bar-bot/target_gripper_state" />
    <param name="current_pose_topic" type="string" value="bar-bot/current_pose" />

  <!-- Camera -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch"/>
  <node name ="cup_detector_node" pkg="bar-bot" type="cup_detector.py" output="screen" required="true"/>

  <!-- Hebi interaction/kinematics -->
  <node name="hebiros_node" pkg="hebiros" type="hebiros_node" respawn="false" output="screen"/>
  <node name="kinematics" pkg="bar-bot" type="kinematics_node">
  </node>

  <!-- Generic ROS/Visualization stuff -->
  <param name="robot_description" textfile="$(find bar-bot)/urdf/basic_arm.urdf"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bar-bot)/rviz/viewrobot.rviz"/>
  <node name="rsp" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="ignore_timestamp" value="true"/>
  </node>

  <!-- <node name="jsp" pkg="joint_state_publisher" type="joint_state_publisher"> -->
  <!--   <param name="use_gui" value="true"/> -->
  <!-- </node> -->
</launch>
